@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

:root {
    --font1: "Varela Round";
    --font2: "Consolas";
    --font3: "Assistant";
    --font4: "Alef"; /*מיועד להחלפה בכתב יד לתבניות*/
}

/* Color Variables */
:root {
    --color1: #000000; /* black */
    --color2: #ffffff; /* white */
    --color3: #202020; /* basic text - coal black */
    /*454F5B*/
    --color4: #f5f5f5; /* off-white BG color */
    --color5: #ffcc00; /* yellow */
    --color6: #ef7777; /* red */
    --color7: #41305f; /* purple */
    --color8: #737495; /* light-purple */
    --color9: #4ecdc4; /* turquoise */
    --color10: #98ddde; /* light-turquoise */
    --color11: #757575; /* grey */
    --color12: #f5f5f5; /* light grey */
    --color13: #3B3B3B; /* 3B3B3B dark grey */
    /*OLD: --color14:#838484;    /* numbered lines */
    --color14: #f5f5f5; /* numbered lines */
    --color15: #191B37;
    --color16: #202546; /* פתבס */
    --color20: linear-gradient(to bottom right, #10415F, #081F2E);
    --color21: #2FCFE2; /* gradient   - light blue */
    --color22: #367189; /* gradient   - dark blue */
    --color23: #023852; /* text       - dark blue */
    --color25: #3B364B; /*border of jumping explanation*/
    --color26: #40305F; /*backgorund of jumping explanation*/
    --color27: #1c8da4; /* 1c8da4 semi-light blue YESODOT/MivneyN*/
    --color28: #198094; /* 1c8da4 198094 is a darker 1c8da4 semi-light blue Prolems headers and titles or
        OR, RED RED RED for Testing YESODOT/MivneyN*/
    --icon_color1: #ef7777; /* icon: debug      - red    */
    --icon_color2: #BA8900; /* icon: enrichment - yellow */
    --icon_color3: #49D682; /* icon: correctwr  - green  */
    /*--icon_color4:#843874;   /* icon: enrichment - purple */
    --code_yellow: #ffcc00; /* keyword */
    --code_green: #95a400; /* comment */
    --code_pink: #ef7777; /* function */
    --code_red: #c70000; /* error */
    --code_lpurple: #737495; /* builtin */
    --code_blue: #4ecdc4; /* output */
    --code_purple: #7556ac; /* input */
    --code_mark_syntax: rgba(255, 204, 0, 0.15); /* yellow 25% opacity */
    --code_mark: #484425b3;
    --color_syntax: #e5e5e5;
    /*accessibility colors changes*/
    --code_purple_on_black: #C0ACD7;
    --code_pink_on_grey: #D71919;
    --code_red_on_black: #FF3D3D;
    --code_yellow_on_grey: #8F6900;
    --code_green_accessibility: #006600;
    --code_pink_accessibility: #A80000;
    --color11_new: #525252;
}

/* body */
body {
    overflow-y: scroll;
    font-family: var(--font1);
    font-size: 16px;
    color: var(--color3);
    line-height: 1.5;
    background: var(--color4);
}

/* change font to Varela. apparently this selector has no effect on H3 when it comes to color, size (except in studio)*/
/* h4,h5,h6 to font size is overridden by lms xmodule styling*/
/* it's IMPORTANT to decide if we go with font1 or font3 for these heading elements*/
h1, h2, h3, h4, h5, h6, p, label {
    font-family: var(--font1), Arial;
}
/*use h4,h5,h6 inside html block to get proper headings for the following:
    title, 
    secondary (black) title, 
    big O notation (inversed colors), respectively,
    answers, question headers. 
*/
.xmodule_display.xmodule_HtmlBlock h4 {
    color: var(--color28);
/*    font: var(--font3);*/
    margin-top: 1.5rem;
    font-size: 1.1rem;
}
    .xmodule_display.xmodule_HtmlBlock h4.problem-header {
        font-size: 1.62rem;
        /*margin-right: -1rem;*/
    }
    .xmodule_display.xmodule_HtmlBlock h4.bigger {
        margin-right:35px;
        font-size: 1.54rem;
    }

.xmodule_display.xmodule_HtmlBlock h5 {
    color: var(--color1);
    font-size: 1.1rem;
}
.xmodule_display.xmodule_HtmlBlock h6 {
    color: var(--color2);
    /*font-family: var(--font3);*/
    background-color: var(--color28);
    font-weight: bold;
    font-size: 1rem;
    display: inline;
}
.pagination .page-divider, .view-student-notes .title-search-container .wrapper-title .page-title, .view-teams .page-header .page-title, .course-wrapper .course-content .proctored-exam-skip-confirm-wrapper .msg-title, .course-wrapper .courseware-results-wrapper .proctored-exam-skip-confirm-wrapper .msg-title, .view-teams .card .card-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-header .title-value, .dashboard-search-results .search-info h2, .view-student-notes .placeholder-title, .course-index .accordion .course-navigation .button-chapter .group-heading, .home .page-header-secondary .last-accessed-link, div.info-wrapper section.handouts .handouts-header, .view-student-notes .note-group .course-title, .view-student-notes .note-group .tags-title, .view-teams .create-team legend, .view-teams .team-actions .title, .idash-section .message-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-title, .view-student-notes .wrapper-tabs .tab-list .tabs-label, .idash-section .subsection-title, .wrapper-course-material .course-tabs li a, .wrapper-course-material .course-tabs li a:visited, .xmodule_display.xmodule_VideoModule .video .video-wrapper .video-controls .control, .xmodule_display.xmodule_VideoModule .video .video-wrapper .video-controls .vcr .vidtime, .content-wrapper .course-license, .content-wrapper .xblock-license, .view-student-notes .title-search-container .wrapper-title .page-title .page-subtitle, .view-student-notes .note-group .course-subtitle, .idash-section .section-title .description, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-header .group-count, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .message-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-file-upload .message-title, .nav-utilities .action-toggle-message, .view-student-notes .note-group .note .wrapper-note-excerpts .note-comments .note-comment .note-comment-title, .view-student-notes .note-group .note .reference .wrapper-reference-content .reference-title, div.info-wrapper section.updates > ol > li .date, div.info-wrapper section.updates > ol article .date, div.info-wrapper section.updates section > li .date, div.info-wrapper section.updates section article .date, div.info-wrapper section.updates div > li .date, div.info-wrapper section.updates div article .date, div.info-wrapper section.updates > ol > li .toggle-visibility-button, div.info-wrapper section.updates > ol article .toggle-visibility-button, div.info-wrapper section.updates section > li .toggle-visibility-button, div.info-wrapper section.updates section article .toggle-visibility-button, div.info-wrapper section.updates div > li .toggle-visibility-button, div.info-wrapper section.updates div article .toggle-visibility-button {
    font-family: var(--font1), Arial;
}

.breadcrumbs .nav-item {
    font-family: var(--font1), Arial;
}


/* EDEX */
/* don't display the unit numbrt under the tree menu on right side */

/* ######################
    COLORS:
    Orange:   #1c8da4
    ->lighterBlue:    #9DD2E0
    ->Blue:     #1c8da4
     ###################### */

/* ######################
       UNIT NAV MENU
     ###################### */

div .sequence-nav,
button.button-previous,
main#main div.sequence-nav button.sequence-nav-button.button-previous,
main#main div.sequence-nav button.sequence-nav-button.button-next {
    background-color: #9dd2e0;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-nav-button {
    border-color: #fff;
}

.sequence-nav-button.button-previous,
.sequence-nav-button.button-next {
    border: 1px solid #fff !important;
}

.sequence-nav-button.button-previous {
    background-color: #9dd2e0 !important;
    color: #1c8da3 !important;
}

.sequence-nav-button.button-next {
    background-color: #1c8da3 !important;
    color: #fff !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
    background-color: #1c8da4 !important;
    border-bottom: 1px solid #fff;
}

button.active span.icon {
    color: white;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
    color: white;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .icon {
    color: #1c8da3;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li {
    /* border: 1px solid #fff !important; */
    /*  border: none !important; */
    border-color: #fff;
}

    .xmodule_display.xmodule_SequenceModule .sequence-nav ol li button {
        /* border: none !important; */
        /* border: 1px solid #fff !important; */
        border-color: #fff;
    }

.xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
    /*  border: 1px solid #fff; */
}


/* ######################
              SIDE NAVIGATION PANEL
            ###################### */

nav.course-navigation span.group-heading {
    background-color: #f8f7f7;
    color: var(--color27);
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: var(--font3);
    font-weight: bold;
}

.course-index .accordion .course-navigation .button-chapter .group-heading {
    font-family: var(--font3);
    font-size: 131%;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu {
    padding: 0;
}

    .course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item {
        background-color: #f3f3f3;
        margin: 0;
        font-size: 90%;
    }


/* current select menu item - remove rounded corners */

p.accordion-display-name {
    margin: 0 !important;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item a {
    border-radius: 0;
    color: #6d878bc7 !important;
    font-size: 1.1em !important;
    padding: 0.3em !important;
    padding-right: 2em !important;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(1) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(2) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(3) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(4) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(5) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(6) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(7) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(8) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(9) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(10) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(11) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(12) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(13) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(14) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(15) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(16) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(17) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(18) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(19) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(20) a
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(21) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(22) a,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(23) a {
    border-radius: 0;
    color: var(--color27) !important;
    font-size: 1.3em !important;
    padding: 1em !important;
    /* pointer-events: none; */
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item:nth-child(1) a {
    pointer-events: auto;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.active a {
    background-color: #9DD2E0;
}


/* current menu item text color */

div.chapter-menu.is-open div.active p.accordion-display-name {
    color: #000;
}

p.accordion-display-name {
    font-family: var(--font3);
}

.course-index .accordion .course-navigation .button-chapter.active .group-heading {
    color: white;
    background-color: var(--color27);
}


/* ######################
              TOP NAVIGATION MENU
            ###################### */
/*Course Banner*/
body.view-in-course .wrapper-course-material .course-material .course-tabs {
    background-color: #f3f3f3;
    /*height: 88px;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(https://courses.campus.gov.il/asset-v1:edu+EDU_matri_computer_science_partA_HE+2021_1+type@asset+block@INTRO_BASICS_1181X88_C.jpg);*/
    /*18.6make it course specific (not refer all courses to asset in yesodot 2023 but to specific resource in the course)*/
    background-image: url(BANNER_1181X88_C.jpg);
    /*padding-top: 40px;*/
}

.wrapper-course-material .course-tabs li a:visited.active,
.wrapper-course-material .course-tabs li a.active {
    color: white;
    border-bottom-color: white;
    border-bottom-width: 3px;
}

body .wrapper-course-material .course-tabs li a,
.wrapper-course-material .course-tabs li a:visited {
    font-family: var(--font3);
    font-size: 120%;
    color: white;
}

.wrapper-course-material .course-tabs li {
    background-color: rgba(243, 243, 243, 0.0);
}

.course-wrapper .course-content p {
    font-family: var(--font3);
    font-size: 120%;
}

.breadcrumbs {
    font-family: var(--font3);
    font-size: 111%;
}


/* ######################
                MAIN CONTENT AREA
            ###################### */

div#seq_content {
    background-color: #f3f3f3;
    padding: 12px;
}

h2.unit-title {
    color: var(--color27) !important;
    font-family: var(--font3);
    font-size: 2rem !important;
}

.xmodule_display.xmodule_HtmlModule h2.unit-title {
    color: var(--color27) !important;
    font-family: var(--font3) !important;
    font-size: 1.7rem !important;
}

h2.unit-title2 {
    color: var(--color27) !important;
    font-family: var(--font3) !important;
    font-size: 1.7rem !important;
    font-weight: 300 !important;
}

button.submit {
    font-family: var(--font3);
    color: white;
    background: var(--color27);
    border-radius: 5px;
    padding: 0.325rem 1.3rem;
}


/* lists */

.xmodule_display.xmodule_HtmlModule ol,
.xmodule_display.xmodule_HtmlModule ul {
    font-family: Assistant;
    font-size: 110%;
    margin-right: 1em;
}


/* ######################
             PROBLEMS
         ###################### */

div .problem {
    /*background-color: #393939;*/
    background-image: url("/static/q_mark_bg_02.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 50px;
    padding: 50px 50px 50px 50px;
    border-radius: 15px;
    /*color: white;*/
}

div div.field {
    width: 300 px;
}


/*
    div.problem div.field label {
      color: white;
      font-family: var(--font3);
    }
      */

div.problem p,
div.problem legend,
button.submit {
    font-family: var(--font3);
}

.wrapper-problem-response input {
    font-family: var(--font3);
    font-size: 115%;
}

.problem-progress {
    display: none !important;
}


/* for Math input in TEXT INPUT questions, left-to-right */

.wrapper-problem-response input[type="text"] {
    direction: ltr;
}

div.problem p.instruction-text {
    color: #c1def4;
    font-weight: bold;
}

button.submit .submit-label {
    font-size: 125%;
    color: white;
}


/* multiple choice question - options' text and background */

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label {
    /*color: white;*/
    /*background-color: #1c8da4;*/
    font-family: var(--font3);
    font-size: 115%;
    border-radius: 0px;
}


/* radio button adjustments*/

.xmodule_display.xmodule_CapaModule div.problem .choicegroup input[type="radio"] {
    right: 0.2em;
}


/* checkbox button adjustments - multiple response question*/

.xmodule_display.xmodule_CapaModule div.problem .choicegroup input[type="checkbox"] {
    right: 0.2em;
}


/* Guy: important check box and radio adjustments */
.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup label {
    padding-right: 46px;
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input[type="radio"], .xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input[type="checkbox"] {
    right: 0.45em;
    top: 0.28em;
}

/*add 38px question icon to problems*/
.problem-header {
    font-family: var(--font3);
    color: var(--color28);
    font-size: 1.44rem;
    font-weight: bold;
    /*margin-right: 2.2% !important;*/
}
strong span {
    border-bottom: 10px solid green;/*var(--color27);*/
    padding-bottom: 10px;
}

/*לראשי פרקים של תרגולים, מצגות וכו*/
strong.chapter-header {
    font-size: 30px;
    font-family: var(--font3);
    font-weight:bold;
    color: black;
    border-bottom: 8px solid #198094;
    padding-bottom: 1px;
}
strong.chapter-header::after {
    content: "\a\a";
    white-space: pre-wrap;
}
.hd.hd-3.problem-header::before,
h3.problem-header::before {
    content: url(question_icon38.png);
    height: 38px; /*actual image size*/
    width: 35px; /*use width to add space between image and text*/
    float: right;
}
h4.problem-header::before {
    content: url(question_icon38.png);
    margin-top:-10px;
    height: 38px; /*actual image size*/
    width: 35px; /*use width to add space between image and text*/
    float: right;
}

.xblock--drag-and-drop h3.problem-title::before {
    content: url(question_icon38.png);
    height: 38px;
    width: 35px;
    float: right;
}
/*without this hd will mask the problem-header*/
.hd.hd-3.problem-header,
h3.problem-header,
h4.problem-header {
    margin-top: 1.5rem;
    font-size: 1.44rem;
    color: var(--color28);
    font-weight: bold;
}

/* drag and drop title */
.xblock--drag-and-drop h3.problem-title {
    font-family: var(--font3);
    color: var(--color28);
    font-size: 1.44rem;
    font-weight: bold;
}


/*<img src="/static/question_icon.png" style="height:38px; width:30px; margin-top: -44px;" />*/
img.problem-icon {
    content: url(question_icon.png);
    width: 30px;
    height: 38px;
    /*margin-top: -64px;*/
    margin-top: -24px;
    cursor: pointer;
    display: block;
    float: right;
}


/* DRAG drop Question*/

.xblock--drag-and-drop .btn-brand {
    border-color: var(--color27);
    border-width: 2px;
    font-family: var(--font3);
    color: white;
    background: #ffffff;
    border-radius: 5px;
    padding: 0.325rem 1.3rem;
}

.xblock--drag-and-drop .btn-brand {
    font-family: var(--font3);
    font-size: 130%;
    color: var(--color27);
}

    .xblock--drag-and-drop .btn-brand:hover {
        background-color: #065683;
    }

.xblock--drag-and-drop .drag-container .option {
    background-color: var(--color27);
}

    .xblock--drag-and-drop .drag-container .option .item-content {
        font-family: Assistant;
    }

.xblock--drag-and-drop .drag-container .option {
    font-size: 1rem;
    /*width: 360px;*/
}


/* <label> in <problem> */
/*does not seem to work*/
.xmodule_display.xmodule_CapaModule div.problem .problem-group-label {
    font-family: var(--font3);
    font-size: 1.15rem;
    margin-bottom: 40px;
}
/*works on labels of text questions, dropdowns etc*/
.xmodule_display.xmodule_ProblemBlock div.problem .problem-group-label {
    color: var(--color28);
    font-family: var(--font3);
    font-size: 1.25rem;
    font-weight: bold;
}
    /* <label> in <problem> */

    .xmodule_display.xmodule_CapaModule div.problem .problem-group-label + .question-description {
        font-family: var(--font3);
        font-size: 0.9em !important;
        margin-bottom: 0 !important;
        margin-bottom: 2px !important;
    }
/* label in problems. the title in multi question problems is 
    tranlated to legend
*/
/*some problem labels appear as legend*/
legend.field-group-hd {
    color: var(--color28);
    font-size: 1.25rem;
    font-weight: bold;
}

.xmodule_display.xmodule_CapaModule div.problem .question-description {
    font-family: var(--font3);
    font-size: 0.9em !important;
    margin-bottom: 2px !important;
}
/*new ATTEMPT TEMP ATTEMPT to catch these tags*/
/*div.problem div label {
    font-family: var(--font3);
    color: var(--color28);
    font-size: 1.25rem;
}*/
/*works*/
div.problem div description {
    font-family: var(--font3);
    color: var(--color13);
    font-size: 0.9rem;
}

.question-description {
    font-size: 1em !important; /*nothing else works*/
}
/*does not yet catch anything*/
/*div label.problem-group-label {
    font-family: var(--font3);
    color: yellow;
    font-size: 2.8rem;
}*/

.option-input select {
    border: 2px solid #eee;
    border-radius: 4px;
    color: #555;
    padding: 5px;
    width: auto; /*16.6.23 210px*/
}

.xmodule_display.xmodule_CapaModule div.problem div div.equation {
    margin-bottom: 0;
    margin-top: 0;
}

    .xmodule_display.xmodule_CapaModule div.problem div div.equation span {
        display: none !important;
    }

.xmodule_display.xmodule_CapaModule .wrapper-problem-response + .wrapper-problem-response,
.xmodule_display.xmodule_CapaModule .wrapper-problem-response + p {
    margin-top: 10px
}


/* .xmodule_display.xmodule_CapaModule .problem .inputtype.option-input {
        margin: 0 !important;
    } */


/* trailing_text */

.trailing_text {
    font-family: var(--font3);
    font-size: 0.9rem;
    padding-top: 1.2%;
    color: #b4b2b2 !important;
}


/* Math problems */

.course-wrapper .course-content .math-section-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.math-question-text {
    font-size: 12pt !important;
    font-weight: normal;
    color: black;
    margin-top: -24px !important;
    margin-right: 0;
    width: 100%;
    text-align: justify;
}

.math-question-bold {
    margin-right: 8% !important;
    color: #1c8da3 !important;
    width: 793px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: -31px;
    font-family: 'Assistant';
    margin-right: 2%;
    font-weight: lighter;
}

.math-BoldText {
    margin-right: 8% !important;
    text-align: justify;
    width: 700px;
    margin-top: -21% !important;
    font-weight: bold;
    font-size: 13pt !important;
}

.math-question-instruction {
    font-weight: bold;
}


/* ######################
             PROBLEM custom JS
         ###################### */

div.problem div.wrapper-problem-response p {
    font-family: var(--font3);
    font-size: 118%;
}


/* ######################
             TABLES
         ###################### */

.xmodule_display.xmodule_HtmlModule table {
    width: auto;
}

    .xmodule_display.xmodule_HtmlModule table th {
        background-color: var(--color27);
        color: white;
        font-size: 100%;
    }

table.striped-table tr:nth-child(even) {
    background-color: #b4b2b2;
}

tbody {
    font-family: "Consolas";
    font-size: 116%;
}

table audio {
    width: 210px;
}


/* ######################
             MISC
       ###################### */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ######################
             SUBTITLES
       ###################### */

.subtitles {
    direction: ltr !important;
}

.xmodule_display.xmodule_VideoModule .video .video-wrapper .closed-captions {
    top: 80%;
    direction: ltr !important;
}


/* ######################
             VIDEO PLAYER
       ###################### */

.xmodule_display.xmodule_VideoModule .video {
    background: #F3F3F3;
    display: block;
    margin: 0;
    padding: 2px;
    border-radius: 1px;
    outline: none;
    box-shadow: 5px -7px 20px -8px rgba(0, 0, 0, 0.5);
}

solution > div {
    border: 2px solid var(--color27);
    padding: 20px;
    background-image: url("/static/bg1.jpg");
    background-color: #fff;
    box-shadow: 2px 1px 15px -5px;
    border-radius: 4px;
    transition: all 0.4s;
    animation: grow 0.4s ease-in-out;
}

    solution > div > h2 {
        color: #fff;
        padding: 10px !important;
        background-color: var(--color27);
        margin: -20px -20px 30px -20px !important;
    }

solution h3 {
    color: #fff;
    font-weight: bold;
    font-family: var(--font3);
    font-size: 1.2em;
    background: var(--color27);
    padding: 2px 10px 5px 10px;
    margin-right: -20px;
    padding-right: 15px;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
}


/* ######################
             SHOW ANSWER
       ###################### */

.xmodule_display.xmodule_CapaModule div.problem .action .problem-action-btn {
    margin-left: 4px;
    max-width: 110px;
    margin-bottom: 19px !important;
    border: solid 2px var(--color27);
    color: var(--color27);
}

    .xmodule_display.xmodule_CapaModule div.problem .action .problem-action-btn .icon {
        display: none;
    }

.xmodule_display.xmodule_CapaModule div.problem div p.answer:before {
    content: "׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג‚¬ֲײ²ֲ¬׳³ג€™׳’ג‚¬ֲײ²ֲ¢׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג‚¬ֲײ²ֲ¬׳²ֲ²ײ²ֲ׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ¬׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ©׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¢׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג‚¬ֲײ²ֲ¬׳³ג€™׳’ג‚¬ֲײ²ֲ¢׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ¬׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ¢׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¢׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג‚¬ֲײ²ֲ¬׳³ג€™׳’ג‚¬ֲײ²ֲ¢׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ¬׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ»׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ³׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¢׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ³׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג‚¬ֲײ²ֲ¬׳³ג€™׳’ג‚¬ֲײ²ֲ¢׳³ֲ³ײ²ֲ³׳³ג€™׳’ג€ֲ¬׳’ג€ֲ¢׳³ֲ³׳’ג‚¬ג„¢׳³ג€™׳’ג€ֲ¬ײ²ֲ׳²ֲ²ײ²ֲ¬׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ¬׳³ֲ³ײ²ֲ³׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ³ײ²ֲ²׳²ֲ²ײ²ֲ²׳³ֲ²ײ²ֲ²׳²ֲ²ײ²ֲ: " !important;
}

.xmodule_display.xmodule_CapaModule div.problem div p.answer {
    margin-top: 0;
    color: var(--color27);
}


/* ######################
             NOTES
       ###################### */

h2.note-title {
    color: #888;
    font-family: var(--font3) !important;
    font-size: 1.6rem;
    display: block;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    background-color: #eee;
}

.btn.btn-link.bookmark-button {
    color: #6d878bc7;
    font-family: var(--font3) !important;
    letter-spacing: 5px;
    letter-spacing: 1px;
    font-weight: 600
}

    .btn.btn-link.bookmark-button > span {
        text-decoration: underline;
    }

.course-content .bookmark-button-wrapper {
    margin-bottom: 30px;
    margin-top: -15px;
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    80% {
        opacity: 1;
        transform: scaleY(1.1);
    }

    90% {
        opacity: 1;
        transform: scaleY(0.9);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

mark.mark_code, mark.mark_code_error, mark.mark_code_answer, mark.mark_code_comment {
    font-family: Assistant;
    background-color: var(--code_mark);
    font-weight: normal;
    font-style: normal;
}

mark {
    background-color: var(--code_mark);
}

    mark.mark_code {
        color: var(--color10);
    }


    mark.mark_code_error {
        color: var(--code_red);
    }

    mark.mark_code_answer {
        color: var(--code_blue);
    }

    mark.mark_code_comment {
        color: var(--code_green);
    }

    mark.mark_code_function {
        color: var(--code_purple);
    }

/* Subject box */
button.box_title {
    font-family: var(--font1);
    font-weight: bold;
    background-image: var(--color20);
    color: var(--color2);
    height: auto;
    line-height: 39px !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 18px;
    display: block;
    padding: 0px 10px 0px 10px;
    border: 2px solid #092533;
    border-bottom: none;
    margin-top: 15px;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
    text-shadow: none;
}


.light-button, div.history-controls input[type="submit"], a.light-button, .gray-button, input[type="reset"], input[type="submit"], input[type="button"], button, .button, form input[type="reset"], form input[type="submit"], form input[type="button"], form button, form .button, .xmodule_display.xmodule_LTIModule div.lti .wrapper-lti-link .lti-link .link_lti_new_window, button:hover:not(:disabled) {
    box-shadow: none;
}

    button.box_title:hover {
        background: var(--color22);
    }

div.box_content {
    display: none;
    font-family: Assistant;
    background: var(--color12);
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0px;
    border-right: 2px solid #092533;
    border-left: 2px solid #092533;
    border-bottom: 2px solid #092533;
    margin-top: -2px;
}

/* code design */
/*div.code, div.code_heb {
    border: 2px solid;
    border-color: var(--color1);
    background-color: var(--color9);
    color: var(--color6);
    padding: 10px;*/ /*20px;*/
/*font-size: 16px;
    line-height: 21px;
    width: 100%;*/ /*75%;*/
/*margin: auto;
    margin-bottom: 30px;
    position: relative;
}

div.code, span.code {
    direction: ltr;
    text-align: left;
    font-family: monospace;
}

div.code_heb, span.code_function_heb {
    direction: rtl;
    text-align: right;
    font-family: Courier,Monospace;
    font-weight: bold;
    letter-spacing: -0.7px;
}

span.code_function_heb {
    color: var(--code_purple);
}

p.code_indent {
    font-family: monospace;
    margin: 0;
    padding-left: 2em;
}

span.code_comment {
    font-family: monospace;
    color: var(--code_green);
}

span.code_answer {
    font-family: monospace;
    color: var(--code_blue);
}

span.code_error {
    font-family: monospace;
    color: var(--code_red);
}

span.code_function {
    font-family: monospace;
    color: var(--code_purple);
}

span.code_input {
    font-family: monospace;
    color: var(--code_orange);
}

div.hiddencode {
    display: none;
    font-family: monospace;
}*/

/* this also has effect on current formatting*/
/* CODE */
div.code {
    border: none;
    background-color: var(--color3);
    color: var(--color2);
    /*font-size: 16px;*/ /* is overridden in lined number cases */
    /*line-height: 18px;*/
    width: 90%; /*80%;*/
    margin: auto;
    /*margin-bottom: 30px; bad impact on inline code inside choices of answers */
    direction: ltr;
    text-align: left;
    font-family: var(--font2);
}
div.problem div.code {
    width: auto;
}

.code_explenation span.code_builtin, .code span.code_builtin {
    color: deepskyblue;
}

.code_explenation .code_error, .code .code_error {
    color: var(--code_red_on_black);
}

.syntax_div .code_function {
    color: var(--code_pink_on_grey);
}

.syntax_div .code_keyword {
    color: var(--code_yellow_on_grey);
}


span.code_keyword {
    color: var(--code_yellow);
    /*font-size: 16px;*/
}

span.code_comment {
    color: var(--code_green);
    /*font-size: 16px;*/
}

span.code_function {
    color: var(--code_pink);
    /*font-size: 16px;*/
}

span.code_error {
    color: var(--code_red);
    /*font-size: 16px;*/
}

span.code_builtin {
    color: var(--code_purple);
    /*font-size: 16px;*/
}

span.code_output {
    color: var(--code_blue);
    /*font-size: 16px;*/
}

span.code_input {
    color: var(--code_lpurple);
    /*font-size: 16px;*/
}

span.code_marked {
    background-color: var(--code_mark);
    /*font-size: 16px;*/
}

span.code_marked_syntax {
    background-color: var(--code_mark_syntax);
    /*font-size: 16px;*/
}

div.code_open {
    line-height: 3em;
    display: inline-block;
}

div.border {
    display: inline-block;
    padding: 2px 6px 0px 0px;
    width: 100%;
}

div.jumping_comment {
    background-color: var(--color26);
    direction: rtl;
    text-align: right;
    color: var(--color2);
    font-size: 16px;
    padding: 8px;
    margin-top: 0px;
    /*width:100%;*/
    line-height: 22px !important;
    margin-right: -10px;
    margin-left: -10px;
    display: none;
    font-family: var(--font1), Arial;
}


/*code with explanation*/
div.code_explenation {
    border: none;
    background-color: var(--color3);
    color: var(--color2);
    font-size: 16px;
    line-height: 18px;
    width: 90%;
    margin-right: 10%;
    margin-bottom: 30px;
    direction: ltr;
    text-align: left;
    font-family: var(--font2);
}

td.button_side_exp {
    width: 11%;
    background-color: var(--color2);
    vertical-align: top;
    overflow: hidden;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td#first_line_exp {
    padding-top: 25px;
    border: none;
    /*padding-right: 10px;
    padding-left: 10px;*/
    font-size: 16px;
    margin-right: 0px;
    padding: 0px;
    padding-top: 23px;
}

td#middle_line_exp {
    border: none;
    font-size: 16px;
    margin-right: 0px;
    padding: 0px;
    padding-top: 0px;
}

.button_side_exp.grey_backround {
    background-color: #f5f5f5
}

td#last_line_exp {
    padding-bottom: 25px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 0px;
    padding: 0px;
    padding-top: 1px;
}







td.number_line_exp {
    width: 40px;
    padding-right: 10px !important;
    padding-left: 0px !important;
    background-color: var(--color13);
    padding: 1px;
    color: var(--color14);
    text-align: right;
    vertical-align: top;
    font-family: var(--font2);
    font-size: 18px;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




td.code_line_exp { /*
    padding-right: 10px;
    padding-left: 15px;*/
    border: none;
    width: 84%;
    padding: 0px 10px 0px 15px;
}

    td.code_line_exp.no_padding {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    td.code_line_exp.no_padding_last {
        padding-top: 0px !important;
        padding-bottom: 25px !important;
    }

    td.code_line_exp.no_padding_first {
        padding-top: 25px !important;
        padding-bottom: 0px !important;
    }

/* table */
table {
    font-family: var(--font2);
    width: 100%;
    margin: auto;
    border: none;
}

td, th {
    text-align: left;
    padding: 3px;
    border: none;
    position: relative;
}

    td.button_side {
        width: 9%;
        background-color: var(--color2);
        vertical-align: top;
        overflow: hidden;
        border: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    td.number_line {
        width: 45px;
        padding-left: 5px !important;
        background-color: var(--color13);
        padding: 1px;
        color: var(--color14);
        text-align: right;
        vertical-align: top;
        font-family: var(--font2);
        font-size: 18px;
        border: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    td.code_line {
        padding-right: 10px;
        padding-left: 15px;
        border: none;
        width: 94%;
    }

    td#first_line {
        padding-top: 25px;
        border: none;
        /*padding-right: 10px;
    padding-left: 10px;*/
        font-size: 16px;
    }

    td#last_line {
        padding-bottom: 25px;
        border: none;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
    }

    td#single_line {
        padding-bottom: 25px;
        padding-top: 25px;
        border: none;
        font-size: 16px;
    }

    td#middle_line {
        border: none;
        font-size: 16px;
    }



    td#opening_line_middle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        border: none;
        font-size: 16px;
    }

    td#opening_line_last {
        padding-top: 0px !important;
        padding-bottom: 25px;
        border: none;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
    }


div.openAreaButtonDisabled {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/next.py/data/base_graphics/icon_play-d.png);
    width: 25px;
    height: 25px;
    margin: 10px -10px 10px 10px;
    /*cursor: pointer;*/
}

div.openAreaButton {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/next.py/data/base_graphics/icon_play.png);
    width: 25px;
    height: 25px;
    margin: 10px -10px 10px 10px;
    cursor: pointer;
}

    div.openAreaButton:hover {
        content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/next.py/data/base_graphics/icon_play-h.png);
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

span.line_line {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: inline;
    position: absolute;
    top: 50%;
    left: 0px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.hd {
    color: black;
    font-weight: bold;
}

.hd-2 {
    display: none;
}

p {
    color: black;
}



.code_brown {
    color: #B84249 !important;
}



/* ######################
              Koa changes
            ###################### */
body .course-index .accordion .course-navigation .button-chapter.active .group-heading {
    color: white;
}


body .wrapper-course-material .course-tabs .tab a, .wrapper-course-material .course-tabs .tab a:visited {
    color: white;
}

/*body .wrapper-course-material .course-material .course-tabs .tab a.active {
    color: white;
    border-bottom-color: white;
}*/

body .wrapper-course-material .course-material .course-tabs .tab a.active {
    color: white;
    border-bottom-color: white;
}

/*.wrapper-course-material .course-tabs li a:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover + h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover + h4, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus + h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus + h4, .wrapper-course-material .course-tabs li a:focus, .wrapper-course-material .course-tabs li a.active, .wrapper-course-material .course-tabs li a:visited:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover + h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover + h4:visited, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus + h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus + h4:visited, .wrapper-course-material .course-tabs li a:visited:focus, .wrapper-course-material .course-tabs li a:visited.active {
    color: white;
    border-bottom-color: white;
    font-weight:400;
}*/

/*.course-material a:hover {
    opacity: 0.8;
    color: white;
    border-bottom-color: white;
}*/

body .wrapper-course-material .course-material .course-tabs .tab a:hover {
    opacity: 0.8;
    color: white;
    border-bottom-color: white;
}

body.view-in-course .wrapper-course-material .course-material .course-tabs li {
    padding-top: 42px;
}

.course-wrapper .course-content .vert-mod .vert, .course-wrapper .courseware-results-wrapper .vert-mod .vert {
    margin-bottom: 0px;
    padding: 0px;
}

body .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
    color: white !important;
}

.xblock--drag-and-drop .popup.popup-incorrect {
    background-color: #F8FBB2;
}

.xblock--drag-and-drop .popup {
    background-color: #C7FBB2;
}

/*#region 371CourseCompatiblityAndImg*/
/*  #########################################
    Images that we should store on שרת רינת for compatiblity between the 2-4 courses.
    The stuff below is for more compatibility with sections from oter courses such as Math 371, Self etc...
    ########################################
*/
/* Corner - Iquestion */
img.corner_iquestion-icon {
    margin-right: 60px;
    margin-bottom: -20px;
    width: 35px;
    height: 35px;
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_iquestion.png);
}

div.corner_iquestion-box {
    font-family: Arial;
    margin-right: 75px;
    margin-top: -2px;
    padding: 16px;
    border-right: 3px solid var(--color22);
}

input.corner_iquestion-radio {
    margin-top: 10px;
}

div.corner_iquestion-title {
    border-bottom: 2px solid var(--color9);
    padding-bottom: 10px;
}

div.corner_iquestion-feedback {
    border-bottom: 2px solid var(--color9);
    /* text-indent: 15px; */
}

span.corner_iquestion-i_answer, span.corner_iquestion-c_answer {
    display: none;
    padding-bottom: 10px;
    margin-right: 48px;
    margin-left: 33px;
}

span.corner_iquestion-i_answer {
    color: var(--icon_color1);
}

span.corner_iquestion-c_answer {
    color: var(--icon_color3);
}

label.corner_iquestion-option {
    cursor: pointer;
}

img.corner_iquestion-x {
    width: 15px;
    height: 15px;
    float: right;
    margin-right: -25px;
    margin-top: 15px;
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_iquestion-x.png);
}

img.icon_reward {
    width: 51px;
    height: 66px;
    float: right;
    overflow: auto;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 8px;
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_reward.png);
}

/* revealing code button */
img.enterbutton {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/enter.png);
    border: 0px;
    width: 75px;
    /*    height: 25px; */ /*deleted for Edx */
    /*    margin-top: -10px;*/ /*deleted for Edx */
    /*    padding-bottom: 16px; */ /*deleted for Edx */
}

    img.enterbutton:hover {
        filter: invert(100%);
    }


/* corners */
img.corner_debug-icon, img.corner_enrichment-icon, img.corner_goodwrite-icon, img.corner_otherlang-icon {
    margin-right: 40px;
    margin-bottom: -8px;
    max-width: 70px !important;
    height: 70px;
}

img.corner_debug-icon {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_debug.png);
}

img.corner_enrichment-icon {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_enrichment.png);
}

img.corner_goodwrite-icon {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_goodwrite.png);
}

img.corner_otherlang-icon {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_otherlang.png);
}

img.corner_debug-icon:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_debug-h.png);
}

img.corner_enrichment-icon:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_enrichment-h.png);
}

img.corner_goodwrite-icon:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_goodwrite-h.png);
}

img.corner_otherlang-icon:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_otherlang-h.png);
}

span.corner_debug-title, span.corner_enrichment-title, span.corner_goodwrite-title, span.corner_otherlang-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
    margin-right: 10px;
}

span.corner_debug-title {
    color: var(--icon_color1);
}

span.corner_enrichment-title {
    color: var(--icon_color4);
}

span.corner_goodwrite-title {
    color: var(--icon_color3);
}

span.corner_otherlang-title {
    color: var(--icon_color2);
}

span.corner_title {
    cursor: pointer;
    display: block;
}

.explainHidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden !important;
}

span.corner_continue {
    font-family: Arial;
    font-size: 16px;
    color: var(--color8);
    position: absolute;
    margin-top: 50px;
    margin-right: 10px;
    text-decoration: underline;
}

    span.corner_continue:hover {
        color: var(--color1);
    }

div.corner_goodwrite-box {
    display: block;
}

div.corner_debug-box, div.corner_enrichment-box, div.corner_goodwrite-box, div.corner_otherlang-box {
    display: block;
    font-family: Arial;
    margin-right: 75px;
    margin-top: 7px; /* added to edex */
    padding: 16px;
}

div.corner_enrichment-box, div.corner_otherlang-box {
    display: none;
}

div.corner_debug-box {
    border-right: 3px solid var(--icon_color1);
}

div.corner_enrichment-box {
    border-right: 3px solid var(--icon_color4);
}

div.corner_goodwrite-box {
    border-right: 3px solid var(--icon_color3);
}

div.corner_otherlang-box {
    border-right: 3px solid var(--icon_color2);
}

img.corner_debug-x, img.corner_enrichment-x, img.corner_goodwrite-x, img.corner_otherlang-x {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    margin-right: -32px;
    margin-top: 15px;
}

img.corner_debug-x {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_debug-x.png);
}

img.corner_enrichment-x {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_enrichment-x.png);
}

img.corner_goodwrite-x {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_goodwrite-x.png);
}

img.corner_otherlang-x {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_otherlang-x.png);
}

img.corner_debug-x:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_debug-xh.png);
}

img.corner_enrichment-x:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_enrichment-xh.png);
}

img.corner_goodwrite-x:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_goodwrite-xh.png);
}

img.corner_otherlang-x:hover {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/base_graphics/icon_otherlang-xh.png);
}

img.box_content_close {
    content: url(top.png);
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    display: block;
    float: left;
}

    img.box_content_close:hover {
        content: url(top-h.png);
    }


img.rolling_icon {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/rolling_assignment/graphics/icon_rolling.png);
    border: 0px;
    width: 116px;
    height: 100px;
}

img.rolling_hangimg {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/python/rolling_assignment/graphics/img_r_1.png);
    float: left;
    width: 155px;
    height: 206px;
    bottom: -200px;
}

.mashov_circle {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/self.py/base_graphics/icon_certificate.svg);
    display: inline-block;
    vertical-align: middle;
}

.dropdown_icon {
    content: url(https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/self.py/base_graphics/icon_dropdown.svg);
    margin-left: 4px;
}
/*#######################
  End of self compatiblity 
  #######################
*/

/*#endregion RegionName*/

/*#region Code Coloring Swiftly nuget*/
pre {
    margin: 0px;
}

div.code.swiftly pre .code_column {
    direction: ltr;
    font-family: monaco,Consolas,LucidaConsole,monospace;
    background-color: #050505 !important; /*helps if you want to make it sticky fixedElement*/
    /*font-size: 17px !important;*/
    color: #dfdfdf;
    padding: 10px;
    padding-top: 1px;
    width: 95%;
}

div.code.swiftly pre { /*should catch code that's not in numbered lines table*/
    direction: ltr;
    font-family: monaco,Consolas,LucidaConsole,monospace;
    background-color: #050505 !important;
    /*font-size: 17px !important;*/
    color: #dfdfdf;
    border: none !important; /*to avoid conflict with coices.*/
    text-shadow: none !important;
    padding: 0px !important;
}

div.code.swiftly.spacy0 pre {
    line-height: 1.0em;
}
div.code.swiftly.spacy1 pre {
    line-height: 1.8em;
}
div.code.swiftly.spacy2 pre {
    line-height: 2.4em;
}
div.code.swiftly.spacy3 pre {
    line-height: 3em;
}

.fixedElement .swiftly pre {
    opacity: 1;
}

div.code.swiftAns pre, div.code.swiftAns pre .code_column {
    direction: ltr;
    font-family: monaco,Consolas,LucidaConsole,monospace;
    background-color: var(--color16) !important;
    opacity: 0.9;
    /*font-size: 18px;*/
    color: #dfdfdf;
    padding: 10px;
    padding-top: 1px;
    width: 95%;
}

.swiftly .method, .swiftAns .method {
    color: #DCDCAA;
}
.swiftly .blankCode, .swiftAns .blankCode {
    background-color: gray;
}

.swiftly .class, .swiftAns .class {
    color: #4EC9B0;
}

.swiftly .keyword, .swiftAns .keyword {
    color: #569cd6;
}

.swiftly .string, .swiftAns .string {
    color: #ce9178;
}

.swiftly .numericLiteral, .swiftAns .numericLiteral {
    color: #b8d7a3;
}

.swiftly .control, .swiftAns .control {
    color: #C586C0;
}

.swiftly .comment {
    color: #6A9955;
    font-family: var(--font1);
}

.swiftAns .comment {
    color: #7Ad965;
    font-family: var(--font1);
}

.swiftly .namespace, .swiftAns .namespace {
    color: #dfdfdf;
}


.swiftly .punctuation, .swiftAns .punctuation {
    color: #dfdfdf;
}

.swiftly .operator, .swiftAns .operator {
    color: #dfdfdf;
}

.swiftly .localName, .swiftAns .localName {
    color: #9CDCFE;
}

.swiftly .parameter, .swiftAns .parameter {
    color: #9CDCFE;
}

.swiftly .code_highlight, .swiftAns .code_highlight {
    background-color: #395929;
}

.swiftly Table, .swiftAns Table {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    white-space: pre;
}

.swiftly Table, th, td, tr, .swiftAns Table, th, td, tr {
    border: none !important;
    padding: 0px !important;
}

.swiftly .line_no::before {
    content: attr(line_no);
    color: white;
    /*font-size: 16px;*/
    width: 0.2em;
}

.swiftAns .line_no::before {
    content: attr(line_no);
    color: cadetblue;
    /*font-size: 16px;*/
    width: 0.2em;
}

.swiftly .code_column, .swiftAns .code_column {
    padding-left: 5px;
    color: #dfdfdf;
}
/*#endregion Code Coloring Swiftly nuget*/
/*bold links*/
a {
    font-weight:bold;
}
div.desc_header {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.hw { /*for future hand writen font. currently exagerated on purpose לתבניות קוד בכתב יד*/
    font-family: var(--font4) !important;
    font-style: italic;
    font-size: 1.1em !important;
    color: red !important; /*this will be overwrittend if you enclose with a p*/
}
.brace { 
    /*משמש לתבניות קוד לדימוי בלוק*/
    display: inline-block;
    border-right: 2px solid black;
    margin-right: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 600px) {
    .course-wrapper main, #content {
        padding: 3px;
    }

    body {
        font-size: 0.65rem;
    }
    div .problem{
        padding-right: 0px;
        padding-left: 0px;
    }
    div#seq_content{
        padding:0px;
    }
}